<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>624802127564-t8vg40p2tr8av8v1h0skac70o3m6dlg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624802127564-t8vg40p2tr8av8v1h0skac70o3m6dlg8</string>
	<key>API_KEY</key>
	<string>AIzaSyBFbHmukFYDxRa84eF8NNZRgQ5zSRysY4g</string>
	<key>GCM_SENDER_ID</key>
	<string>624802127564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rcos.texchange</string>
	<key>PROJECT_ID</key>
	<string>texchange-f88db</string>
	<key>STORAGE_BUCKET</key>
	<string>texchange-f88db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:624802127564:ios:dec85911b41cbe0a</string>
	<key>DATABASE_URL</key>
	<string>https://texchange-f88db.firebaseio.com</string>
</dict>
</plist>